# すべてをignore

/*

# 許可するファイルの指定
!/.gitignore
!/.gitmodules
!/init
!/README.md
!/*.kicad_pcb
!/*.kicad_pro
!/*.kicad_sch
!/*.pro
!/*.sch
!/fp-lib-table
!/sym-lib-table
!/.zip


# 許可するフォルダの指定
!/kicad/
!/img/
